:root {
  --primary: white;
  --secondary: #fb9f87;
  --tertiary: rgb(97, 177, 188);
  --dark: black;
  --border-radius: 0.3rem;
}

.card-header {
background-color: var(--primary);
}

.card-body {
  font-weight:bold;
}


.btn {
  font-size: 1.3rem;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: solid;
  outline: none;
  background-color: var(--tertiary);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.forecast-card {
  background-color: var(--tertiary);
  color: var(--primary);
}

h1 {
  font-size: 50px;
  text-align: center;
}
header {
  background-size: cover;
  background-position: 50% 50%;
  
  background-image: url("https://images.unsplash.com/photo-1630260667842-830a17d12ec9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80");
}
