:root {
  --primary: white;
  --secondary: #fb9f87;
  --tertiary: rgb(97, 177, 188);
  --light-dark: #8e7578;
  --dark: black;
  --border-radius: 0.3rem;
}

.btn {
  border-radius: var(--border-radius);
   background-color: var(--tertiary);
  color: var(--primary);
  cursor: pointer;
  border-color: var(--tertiary);
}

.btn:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  transform: scale(1.1);
}